@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-size: 1.4rem;
  padding: 0.5rem;
}
h2{
  font-size: 1rem;
  padding: 5px;
}
div{
  font-size: 1.2rem;
}
span {
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: monospace;
  text-decoration: overline;
  text-transform: uppercase;
  letter-spacing: 5px;
}
 h5,h3{
  margin-bottom: 0.5rem;
  padding: 5px;
}
p{
  font-size: 0.9rem;
}
